<% provide(:title, "#{@student.first_name} #{@student.last_name}" + " Profile") %>
<div id="content">
  <div class="inner-content">
      <div class="single-box">
        <div class="project-post-content">
        <% if student_signed_in? && session[:student_id] == @student.id %>
            <%= render 'shared/StudentAdmin/student_admin_nav_bar' %>
        <% end %>
        <br>
            <div>
          <h1 style="font-size: 30px; font-weight: bold"><%= "#{@student.first_name} #{@student.last_name}"  %></h1>
          <br><p><%= image_tag @student.avatar, class: 'img-circular' %></p>
          <p>Joined Date: <%= @student.created_at.to_time.strftime("%d/%m/%Y") %></p></div>
          </div>
      </div>
    </div>
  </div>

