<% if @club.announcement %>
    <div id="error_explanation">
      <div class="alert alert-info newfont">
        <h4>Announcement from Administrator</h4>
        <%= @club.announcement %>
      </div>
    </div>
<% end %>
