<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header" style="font-family: 'Existence-Light', Arial, sans-serif;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Profile Admin</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li
        <% if params[:action] == "show" %>class="active"
        <% end %>>
          <a href=<%= "/students/#{@student.id}" %>><b>My Profile</b></a></li>
        <li
        <% if params[:action] == "student_edit" %>class="active"
        <% end %>>
          <a href=<%= student_admin_student_edit_path %>><b>Update Profile</b></a></li>
        </ul>
      <a class="btn btn-danger navbar-btn pull-right" href=<%= student_admin_logout_path %>>Sign Out</a>

    </div>
  </div>
</nav>
